SECRET_KEY=django-insecure-v=xvn0f+fb(hk+c^n790za0bu**%j!#=5$$^*ub7(fq1j1+f7&
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# POSTGRESQL
DB_ENGINE=django.db.backends.postgresql
DB_NAME=pti_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432